.caja {
   width: 300px;
     margin-left: auto;
     margin-right: auto;
     padding: 30px;
     border: 2px solid red;
     border-radius: 10px;
     animation: parpadea ease-in infinite alternate 500ms;
text-align: center;
}
@keyframes parpadea{
    0% {
        box-shadow: 0 0 50px red;

    }100% {
        box-shadow: 0 0 15px yellowgreen;
    }
    
    
}