body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner {
    gap: 20px;
}
header {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

main {
    width: 80%;

}

.caja {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    background-color: aqua;
    text-align: center;
}

.photo {
    background-color: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.photo img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.photo p {
    margin-top: 0.5rem;
    color: #555;
}








