.girada
 { position: fixed;
  left: 400px;
  top: 300px;
    animation: rotate 2s infinite linear;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    } 100%
    {
        transform: rotate(360deg);
    }
}
