
.container {
    background-color: rgba(44, 160, 44, 0.703);
    padding: 40px;
    border: 1px solid #ccc;
    width: 300px;
   margin: 0 auto;
}
.messages {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}


   
  



      