h1 {
    color: gray; 
    text-align: center;
} 
label {
    margin : 10px;
}

section {
    text-align: center;
    background-color: aquamarine;
    color: red;
    padding: 15px;
    margin: auto; 
    width: 50% ;
}

html {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/23/14/22/ducklings-1853178_960_720.jpg");
}


div img {
    width: 30px;
    margin-top: 10px;
}